{{ ansible_managed | comment }}

# Minio local/remote volumes.
{% if minio_server_cluster_nodes | length > 0 %}
MINIO_VOLUMES="{{ minio_server_cluster_nodes | join(' ') }}"
{% else %}
MINIO_VOLUMES="{{ minio_server_datadirs | join(' ') }}"
{% endif %}
# Minio cli options.
MINIO_OPTS="--console-address {{ minio_bind_console_addr }} --address {{ minio_bind_api_addr }} {{ minio_server_opts }}"

{% if minio_root_user is defined and minio_root_user | length >0 and minio_root_password is defined and minio_root_password | length >0%}
# Secret key of the server.
MINIO_ROOT_USER="{{ minio_root_user }}"
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
{% endif %}


{{ minio_server_env_extra }}